---
import whoami from "../constants";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
  title={`${whoami.name} Portfolio Site`}
  seoTitle={`${whoami.name}, ${whoami.jobTitle} Portfolio`}
  seoDesc={`${whoami.jobTitle} who expertise in Astro, React, NextJS`}
>
  <div id="project" class="md:w-6/12 mx-auto">
    <!-- <h1 class="text-5xl mt-4 mb-8">Projects</h1>
    <div
      class="flex justify-center items-center flex-wrap gap-6 drop-shadow-[0px_35px_35px_rgba(39,131,245,0.8)]"
    >
      <a href="/projects/bantr"
        ><img
          class="rounded-xl mb-2"
          src="/public/images/bantr.png"
          width="300px"
          height="300px"
        /></a
      >
      <a href="/projects/introz"
        ><img
          class="rounded-xl mb-2"
          src="/public/images/introz.png"
          width="300px"
          height="300px"
        /></a
      >
      <a href="/projects/twit"
        ><img
          class="rounded-xl mb-2"
          src="/public/images/twit.png"
          width="300px"
          height="300px"
        /></a
      >
      <a href="/projects/fourth"
        ><img
          class="rounded-xl mb-2"
          src="/public/images/fourth.png"
          width="300px"
          height="300px"
        /></a
      >
    </div> -->
    <h2 class="text-3xl my-8 text-center">New projects coming soon.. 🤠</h2>
  </div>
</MainLayout>
